<div class="jumbotron text-center">
	<h1>All Matchups</h1>
</div>

<% if (success.length > 0) { %>
	<div class="alert alert-success"><%= success %></div>

<% } %>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>Matchup Name</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>


	<tbody>
		
		<% for (var matchup of matchups) { %>
			<tr>
				<td><%= matchup.name %></td>
				<td><%= matchup.description %></td>
				<td>
					<a href="/matchups/<%= matchup.slug %>" class="btn btn-sm btn-primary">View</a>
					<a href="/matchups/<%= matchup.slug %>/edit" class="btn btn-sm btn-primary">Edit</a>
				</td>
			</tr>

		<% }  %>

	</tbody>
</table>